.form {

  .form-group {
    margin-top: 20px;
  }

  label {
    @include responsive-vw(line-height, 20px, 40px);
    @include responsive-vw(font-size, $min-font-size-p, $max-font-size-p);
    font-weight: 700;
    padding-bottom: 10px;
    display: inline-block;
  }

  input[type=tel],
  input[type=text],
  input[type=email],
  textarea,
  select {
    width: 100%;
    @include responsive-vw(font-size, $min-font-size-p, $max-font-size-p);
    display: block;
    margin-bottom: 30px;
    padding: 10px;
    position: relative;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
    resize: none;
    &:focus {
      border-color: $color-blue;
    }
  }
}

div.alert {
  margin-bottom: 40px;
  padding: 20px 10px;
}

div.alert-danger {
  border: 0 !important;
  background-color: $color-red !important;
}
