.header {
  width: 100%;
  float: left;
  z-index: 1;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  &__list {
    list-style: none;
    margin-left: 0 !important;
    @include responsive-vw(line-height, 60px, 120px);
  }

  &__item {
    position: relative;
    display: inline-block;
    float: left;
    @include responsive-vw(font-size, $min-font-size-nav, $max-font-size-nav);

    a {
      @include responsive-vw(padding-left, 10px, 20px);
      @include responsive-vw(padding-right, 10px, 20px);
      text-decoration: none;
      color: $color-white;
    }

    &:hover {
      a {
        color: $color-blue;
      }
      > ul {
        display: block;
      }
    }

    &--active {
      > a {
        color: $color-blue;
      }
    }

    &--sub {
      position: absolute;
      right: 0;
      padding: 0 20px;
      background-color: $color-white;
      color: $color-black;
      line-height: inherit;
      content: '\f078';
      font-family: FontAwesome;
      cursor: pointer;
      i {
        @include transition();
      }
    }
  }

  &__sublist {
    display: none;
    position: absolute;
    right: 0;
    width: 300px;
    margin-left: 0 !important;

    li {
      width: 100%;
      float: left;

      a {
        width: 100%;
        float: left;
      }
    }
  }

  &__logo {
    display: inline-block;
    @include responsive-vw(width, 100px, 205px);
    float: left;
    @include responsive-vw(line-height, 60px, 120px);
    text-indent: -9999px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @include background-image-svg(logo);
  }

  &__navicon {
    display: none;
    position: relative;
    margin-top: 20px;
    padding: 10px 0;
    transition: $duration / 2;
    user-select: none;
    cursor: pointer;
    @include transition();

    &--bars {
      &:before, &:after {
        transition: $duration / 2;
      }
    }

    &--bars {
      position: relative;
      width: 30px;
      height: 3px;
      background-color: $color-white;
      transition: $duration / 2;

      &:before, &:after {
        display: block;
        content: "";
        height: 3px;
        width: 30px;
        background-color: $color-white;
        position: absolute;
        transition: $duration / 2;
      }

      &:before {
        top: .625rem;
      }

      &:after {
        top: -.625rem;
        height: 3px;
      }
    }

    &--open:not(.steps) .header__navicon--bars:before,
    &--open:not(.steps) .header__navicon--bars:after {
      top: 0 !important;
    }

    &--open .header__navicon--bars:before,
    &--open .header__navicon--bars:after {
      transition: $duration / 2;
      background-color: color($color-white);
    }

    &--open {

      &:hover {
        .header__navicon--bars {
          &:before,
          &:after {
            background-color: color($color-white);
          }
        }
      }

      .header__navicon--bars {
        background-color: transparent;

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }
    }

  }

  @include media($sm) {

    /* Slide nav */

    &__nav {
      position: fixed;
      width: 250px;
      height: 100%;
      top: 0;
      right: -250px;
      background-color: $color-black;
    }

    &__item {
      display: block;
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid $color-white;
      }

      a {
        width: 100%;
        float: left;
        padding: 0 20px;
      }

      &:hover {
        > ul {
          display: none;
        }
      }
    }

    &__sublist {
      display: none;
      position: relative;
      width: 100%;
      float: left;
    }

    &__navicon {
      display: inline-block;
    }
  }

}
