/*
@font-face {
  font-family: 'Futura Std Extra Condensed Bold Obl';
  src: url('../fonts/FuturaStd-CondExtraBoldObl.eot');
  src: url('../fonts/FuturaStd-CondExtraBoldObl.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaStd-CondExtraBoldObl.woff2') format('woff2'),
      url('../fonts/FuturaStd-CondExtraBoldObl.woff') format('woff'),
      url('../fonts/FuturaStd-CondExtraBoldObl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'FuturaStd-CondExtraBoldObl';
  src: url('../fonts/FuturaStd-CondExtraBoldObl.eot');
  src: url('../fonts/FuturaStd-CondExtraBoldObl.woff2') format('woff2'),
       url('../fonts/FuturaStd-CondExtraBoldObl.woff') format('woff'),
       url('../fonts/FuturaStd-CondExtraBoldObl.ttf') format('truetype'),
       url('../fonts/FuturaStd-CondExtraBoldObl.svg#FuturaStd-CondExtraBoldObl') format('svg'),
       url('../fonts/FuturaStd-CondExtraBoldObl.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #000;
  color: #fff;
}

.navicon {
  display: none;
  float: right;
  margin: 0px 40px 0 0px;
  padding: 23.5px 0; }
  .navicon__bars {
    position: relative;
    width: 2rem;
    height: 0.2rem;
    background-color: #fff; }
    .navicon__bars:before, .navicon__bars:after {
      display: block;
      content: "";
      height: 0.2rem;
      width: 2rem;
      background-color: #fff;
      position: absolute; }
    .navicon__bars:before {
      top: .625rem; }
    .navicon__bars:after {
      top: -.625rem;
      height: 0.2rem; }

.open:not(.steps) .navicon__bars:before,
.open:not(.steps) .navicon__bars:after {
  top: 0 !important; }

.open .navicon__bars:before,
.open .navicon__bars:after {
  background-color: #fff; }

.open.x {
  z-index: 3; }
  .open.x:hover .navicon__bars:before, .open.x:hover .navicon__bars:after {
    background-color: #fff; }
  .open.x .navicon__bars {
    background-color: transparent; }
    .open.x .navicon__bars:before {
      transform: rotate(-45deg); }
    .open.x .navicon__bars:after {
      transform: rotate(45deg); }

.grid__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .grid__container::after {
    clear: both;
    content: "";
    display: table; }
.grid__row {
  display: block; }
  .grid__row::after {
    clear: both;
    content: "";
    display: table; }
.grid__col--1 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 8.33333%; }
  .grid__col--1:last-child {
    margin-right: 0; }
.grid__col--2 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%; }
  .grid__col--2:last-child {
    margin-right: 0; }
.grid__col--3 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%; }
  .grid__col--3:last-child {
    margin-right: 0; }
.grid__col--4 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%; }
  .grid__col--4:last-child {
    margin-right: 0; }
.grid__col--5 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.66667%; }
  .grid__col--5:last-child {
    margin-right: 0; }
.grid__col--6 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%; }
  .grid__col--6:last-child {
    margin-right: 0; }
.grid__col--7 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 58.33333%; }
  .grid__col--7:last-child {
    margin-right: 0; }
.grid__col--8 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.66667%; }
  .grid__col--8:last-child {
    margin-right: 0; }
.grid__col--9 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 75%; }
  .grid__col--9:last-child {
    margin-right: 0; }
.grid__col--10 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.33333%; }
  .grid__col--10:last-child {
    margin-right: 0; }
.grid__col--11 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 91.66667%; }
  .grid__col--11:last-child {
    margin-right: 0; }
.grid__col--12 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%; }
  .grid__col--12:last-child {
    margin-right: 0; }
.grid__shift--1 {
  margin-left: 8.33333%; }
.grid__shift--2 {
  margin-left: 16.66667%; }
.grid__shift--3 {
  margin-left: 25%; }
.grid__shift--4 {
  margin-left: 33.33333%; }
.grid__shift--5 {
  margin-left: 41.66667%; }
.grid__shift--6 {
  margin-left: 50%; }
.grid__shift--7 {
  margin-left: 58.33333%; }
.grid__shift--8 {
  margin-left: 66.66667%; }
.grid__shift--9 {
  margin-left: 75%; }
.grid__shift--10 {
  margin-left: 83.33333%; }
.grid__shift--11 {
  margin-left: 91.66667%; }
.grid__centered {
  float: none!important;
  margin: 0 auto!important; }
.float--right {
  float: right; }
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.left p {
  padding-right: 5px;
}

.right p {
  padding-left: 5px;
}

h1 {
  font-family: 'FuturaStd-CondExtraBoldObl';
  text-transform: uppercase;
  font-size: 4em;
}

h2 {
  font-family: 'FuturaStd-CondExtraBoldObl';
  text-transform: uppercase;
  font-size: 3.5em;
}

h3 {
  font-family: 'FuturaStd-CondExtraBoldObl';
  text-transform: uppercase;
  font-size: 1.3em;
  color: #35A0CD;
}

p,
.section ul {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
  padding-top: 15px;
  line-height: 165%;
  font-weight: 400;
  font-style: italic;
}

.intro-text {
  font-size: 1.2em;
  font-weight: 700;
  font-style: italic;
}

a {
  color: #35A0CD;
  text-decoration: none;
}

a:hover {
  color: #35A0CD;
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.section ul {
  padding-top: 15px;
  margin-left: 30px;
}



.header__logo {
  margin: 40px 0 30px 0;
}

.header__logo img {
  width: 30%;
  height: auto;
  display: block;
  margin: auto;
}

.header__title {
  padding-bottom: 40px;
}

.header__title h1 {
  font-size: 4.5em;
  text-align: center;
  color: #35A0CD;
}

.header__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.header__item {
  display: inline-block;
}

.header__item a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5em;
  font-weight: 700;
  font-style: italic;
  -webkit-transition: 180ms color ease-out;
  -o-transition: 180ms color ease-out;
  transition: 180ms color ease-out;
}

.header__item a:hover {
  text-decoration: none;
  color: #fff;
}

.hero {
  margin: 50px 0;
  height: 400px;
}

.hero img {
  width: 100%;
  height: 400px;
}

.object-fit_cover {
  object-fit: cover;
  font-family: 'object-fit: cover; object-position: center;'
}

img {
  object-fit: cover;
  font-family: 'object-fit: cover; object-position: center;'
}

.section__tips ul {
  column-count: 2;
  column-gap: 50px;
}

.section__tips ul li {
  margin-left: 10px;
  padding: 5px 0;
}

.section .grid__container {
  position: relative;
  margin-bottom: 100px;
}


.section .grid__container:after {
  content: '';
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: -50px;
  border-bottom: 2px solid #fff;
}

.section__tips .grid__container:after {
  position: relative;
  border-bottom: none;
}

.back-to-top {
  background-color: #000;
  margin: 0 5px 5px 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  z-index: 100;
  text-decoration: none;
  color: #ffffff;
  
  font-family: 'PT Sans', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5em;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  -webkit-transition: 180ms color ease-out;
  -o-transition: 180ms color ease-out;
  transition: 180ms color ease-out;
}

.back-to-top:hover {
  text-decoration: none;
  color: #fff;
}
 




@media screen and (max-width: 1200px) {

  .navicon {
    display: block; }
  
  .header__social div {
    margin-top: -30px;
  }
  
  .header__nav {
      display: none;
      position: relative;
      width: 100%;
      float: left;
      height: auto;
  }
  
  .header__nav .nav {
    -ms-box-orient: vertical;
    display: -webkit-block;
    display: -moz-block;
    display: -ms-block;
    display: -moz-block;
    display: -webkit-block;
    display: block;

    -webkit-justify-content: none; 
    justify-content: none; 
    text-align: center;
  }
  
  .header__item {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  
  .grid__col--sm--12 {
    width: 100%!important;
  }
  
  .header__title h1 {
    font-size: 2.8em;
  }
  
  h2 {
    font-size: 2.5em;
  }
  
  .section {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .section__tips ul {
    column-count: 1;
  }
  
  .section__tips ul li {
    margin-left: 30px;
  }
  
  .left {
    margin-bottom: 20px;
  }
  
}



