.page {
  line-height: $line-height-default;
  font-family: $font-family-default;
  color: $color-text-default;

  h1 {
    @include responsive-vw(font-size, $min-font-size-h1, $max-font-size-h1);
    font-weight: $font-weight-h1;
    font-family: $font-family-heading;
    line-height: $line-height-heading;
  }

  h2 {
    @include responsive-vw(font-size, $min-font-size-h2, $max-font-size-h2);
    font-weight: $font-weight-h2;
  }

  h3 {
    @include responsive-vw(font-size, $min-font-size-h3, $max-font-size-h3);
    font-weight: $font-weight-h3;
    font-family: $font-family-heading;
    line-height: $line-height-heading;
  }

  h4 {
    @include responsive-vw(font-size, $min-font-size-h4, $max-font-size-h4);
    font-weight: $font-weight-h4;
    font-family: $font-family-heading;
    line-height: $line-height-heading;
  }

  h5 {
    @include responsive-vw(font-size, $min-font-size-h5, $max-font-size-h5);
    font-weight: $font-weight-h5;
    line-height: $line-height-default;
  }

  h6 {
    @include responsive-vw(font-size, $min-font-size-h6, $max-font-size-h6);
    font-weight: $font-weight-h6;
    line-height: $line-height-default;
  }

  p {
    @include responsive-vw(font-size, $min-font-size-p, $max-font-size-p);
  }

  a {
    color: $color-text-link;

    &:hover {
      text-decoration: none;
    }
  }

  big {
    @include responsive-vw(font-size, $min-font-size-large, $max-font-size-large);
  }

  small {
    @include responsive-vw(font-size, $min-font-size-small, $max-font-size-small);
  }

  b,
  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  ul {
    margin-left: 20px;
    list-style: disc;
  }

  ol {
    margin-left: 20px;
    list-style: decimal;
  }
}
